html {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  margin: auto;
  border: 3px solid #000000;
  width: 1200px;
}
div.button {
  border: 10px solid #000000;
  margin: auto;
  padding: 10px 10px 10px 10px;
  background-color: #FF0000;
  width: 800px;
  text-align: center;
}

section {
  text-align: center;
}

Body {
    font-family: "Comic Sans MS";
}

header {
    text-align:center;
    text-shadow: 1px 2px 2px #CCC;
}

img.pic {
    position: absolute;;
    right: 150px;
    top: 150px;
    width:250px;
    border:3px solid #000000;
    padding:10px;
    border-radius: 10%;
    box-shadow: 3px 4px 4px #000;
    display: inline-block;
}
h2 {

}
img.doge {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 130px;
  border:1px solid #000000;
  padding:10px;
  border-radius: 10%;
  box-shadow: 3px 4px 4px #000;
  display: inline-block;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

/* Float the list items side by side */
ul.tab li {
    float:left;
    text-align: center;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: bold;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
