html {
    background-color: #0048ff;
    background-image: url("https://www.transparenttextures.com/patterns/knitted-sweater.png");
    width: 1300px;
    margin: auto;
    border: 3px solid #000000;
}
div.button {
  border: 10px solid #000000;
  margin: auto;
  padding: 10px 10px 10px 10px;
  background-color: #FF0000;
  width: 800px;
}
Body {
    font-family: "Comic Sans MS";
}

h1 {
    text-align:center;
    text-shadow: 1px 2px 2px #CCC;
}

h3 {
    font-style:italic;
}

img {
    float:right;
    width:300px;
    border:3px solid #000000;
    padding:10px;
    border-radius: 10%;
    box-shadow: 3px 4px 4px #000;
    postion: absolute;
}
h2.experience {
  border: 5px soldi #000000;
  margin: 10px 10px 10px 10px;
}
